$font-size-base: 0.85rem;

@import 'bootstrap';
@import '@fortawesome/fontawesome-free/css/all.min.css';

#app {
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    gap: 0.5em;
    padding: 0.5em;
}

.grid-item {
    min-height: 0;

    &.full-width {
        grid-column: 1 / -1;
    }
}

canvas {
    max-height: 35vh;
    min-height: 50px;
    image-rendering: pixelated;
    object-fit: contain;
    width: 100%;
}
